 .price {
   width: 100%;
   padding: $p-1;
   justify-content: center;
   align-items: center;
   
   th {
      padding: $p-1;
      font-size: $font-18;
      font-weight: $font-w-700;
          
      border-bottom: 1px solid $color-black;
   }
   td {
      padding: $p-1 ;
      
      font-size: $font-16;
      border-bottom: 1px solid $color-black;
   }
}


.modal {

   &__form {
      display: block;

      &_title {
         padding: $p-1 0;
         font-size: $font-18;
      }

      &_subtitle {
         padding: $p-1 0;
         font-size: $font-14;
         color: $color-text;
      }
   }


   &__submit {
      display: inline-block;
      width: 30%;
      padding: $p-1;

      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      border: 0;

      font-size: $font-14;
      font-weight: $font-w-500;

      color: $color-white;
      background-color: $color-orange;

      &:hover {
         cursor: pointer;
         box-shadow: 0 5px 10px rgba(77, 34, 104, .4);
      }
   }

   &__close {
      display: inline-block;
      width: 30%;
      padding: $p-1;

      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      border: 0;

      font-size: $font-14;
      font-weight: $font-w-500;

      color: $color-white;
      background-color: $color-orange;

      &:hover {
         cursor: pointer;
         box-shadow: 0 5px 10px rgba(77, 34, 104, .4);
      }
   }
}



.registration {

   &__btn {
      background: none;
      border: 0;
   }

   &__form {
      display: block;

      &_title {
         padding: $p-1 0;
         font-size: $font-18;
      }

      &_subtitle {
         padding: $p-1 0;
         font-size: $font-14;
         color: $color-text;
      }
   }

   &__submit {
      display: inline-block;
      width: 100%;
      padding: $p-1;      

      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      border: 0;

      font-size: $font-14;
      font-weight: $font-w-500;

      color: $color-white;
      background-color: $color-orange;

      &:hover {
         cursor: pointer;
         box-shadow: 0 5px 10px rgba(77, 34, 104, .4);
      }
   }
}