.services {
    @include flex();
    flex-wrap: wrap;
    

    &__card {
        @include transition();
        width: 30%;
        position: relative;
      
        
        margin: $m-1;
        padding: $p-2;
      
        text-align: center;
        background-color: $color-white;
        border-radius: 1rem;
    
        &:hover {
          transform: translateY(-3px);
        }

        &_image {
            width: 100%;
            padding: $p-1;
        }
      }

    &__title {
        padding: $p-2;
        text-decoration: none;
        text-align: center;
        font-size: $font-20;
        color: $color-text;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: $color-orange;
        }
    }
}



.reviews {
    @include flex();
    flex-wrap: wrap;

    &__card {
        width: 30%;
      
        align-self:flex-start;

        margin: $m-1 0;
        padding: $p-2;
      
        text-align: center;
        background-color: $color-white;

        &_image {
            width: 100%;
            padding: 0;
        }
      }

    &__title {
        padding: $p-2;
        text-decoration: none;
        text-align: left;
        font-size: $font-24;
        font-weight: $font-w-700;
        color: $color-text;

        cursor: pointer;
    }
   
    &__description {
       padding-bottom: $p-1;
       text-align: left;
        
       font-size: $font-18;
      
       color: $color-text;
       line-height: 1.5;
      }
    }

.photogallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

