.section-1 {
  background-color: $third-color;
  padding: 0;

  &__block {
    @include flex();

    &_description {
      width: 50%;
      font-size: $font-16;

      text-align: center;
      background-color: $third-color;
    }

    &_title {
      font-size: $font-24;
      font-weight: $font-w-500;

      color: $color-text;
      text-align: cente;

      flex-wrap: wrap;    
      padding: $p-2 0;
    }
  }

  &__info {
    width: 70%;
    padding: $p-5; 
    margin: $m-5 $m-10;  
    text-align: center;

    background-color: $primary-color;

    &_btn {
     padding: $p-2 $p-5;        

      font-size: $font-18;
      font-weight: $font-w-700;

      line-height: 75px;
      text-decoration: none;
      border-radius: 5px;

      color: $color-text;
      background-color: $color-orange;

      &:hover {
        cursor: pointer;
        color: $color-white;
      }
    }
  }
}


.section {
    padding: $p-5;
   
    background-color: $primary-color;
  
    &__block {
      @include flex();
  
      &_image {
        position: relative;
  
        width: 50%;
        height: 50rem;        
      }
  
      &_description {
        @include transition();
  
        width: 50%;
        padding: $p-3;
        font-size: $font-16;
  
        text-align: center;
        background-color: $primary-color;
  
        &:hover {
          cursor: pointer;
  
          transform: translateY(-5px);
          box-shadow: 0 5px 10px $color-lightblue;
        }
      }
    }
  
    &__image {
      width: 450px;
      display: flex;
      justify-content: center;
    }
  }


  .section-3,
  .section-5 {
    background-color: $third-color;
  }