// color

$primary-color: rgb(238, 231, 231);
$secondary-color: rgb(219, 215, 216);
$third-color: rgb(247, 247, 247);

$color-title: rgb(113, 91, 94);


$color-violet: violet;
$color-darkviolet: rgb(115, 18, 115);
$color-yellow: rgba(241, 235, 76, 1);
$color-pink: rgba(253, 79, 121, 1);
$color-orange: rgba(253, 152, 79, 1);
$color-lightgreen: rgba(74, 233, 80, 1);
$color-green: rgba(126, 160, 72, 1);
$color-darkgreen: rgba(142, 141, 111, 1);


$color-purple: rgba(215, 83, 122, 1);

$color-text: rgba(39, 38, 38, 1);


$color-white: white;
$color-black: black;
$color-gray: rgb(156, 156, 156);
$color-lightgray: rgb(220, 220, 220); 
$color-red: rgb(216, 19, 19);

 $color-blue: rgb(107, 107, 241);
 $color-lightblue: rgb(174, 174, 239);
// $color-violet--darken: rgb(27, 8, 27);


// font-size
$font-8: 8px;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
$font-36: 36px;
$font-48: 48px;
$font-52: 52px;
$font-64: 64px;


// font-weight
$font-w-100: 100;
$font-w-300: 300;
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;
$font-w-900: 900;


//font-family
$font-family: 'Lato', sans-serif;


//padding
$p-0: 0;
$p-0-5: .5rem;
$p-1: 1rem;
$p-1-5: 1.5rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;
$p-10: 10rem;
$p-20: 20rem;


//margin
$m-0: 0;
$m-0-5: .5rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;
$m-8: 8rem;
$m-10: 10rem;
$m-15: 15rem;
$m-20: 20rem;
$m-50: 50rem;